@model LayerDb.Donar

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Donar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BloodGroup.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BloodGroup.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ColonyArea.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ColonyArea.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MartialStatu.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MartialStatu.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MobilePhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MobilePhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlternateMobilePhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlternateMobilePhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Longitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StreetAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StreetAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OnCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OnCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OnModified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OnModified)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DonarId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
