@model IEnumerable<LayerDb.Donar>

@{
    ViewBag.Title = "Donars";
}



<div class="col-md-12">
    <div class="card">
        <div class="card-header card-header-icon" data-background-color="purple">
            <i class="material-icons">assignment</i>
        </div>
        <div class="card-content">
            <h4 class="card-title">Donar</h4>
            <div class="toolbar">
			
    @Html.ActionLink("Add Donar", "Create")
                <!-- Here you can write extra buttons/actions for the toolbar -->
            </div>
            <div class="material-datatables">
                <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" >
    <thead>
	<tr>
        <th>
            Name
        </th>
        <th>
			Contact
        </th>
        <th>
            Blood
        </th>	
        <th>
            Gender
        </th>
        <th>
            Address
        </th>
        <th>
			Actions
		</th>
    </tr>
</thead>
<tbody>
@foreach (var item in Model) {
    <tr>
	
        <td>
            @item.FirstName @item.LastName
        </td>
        <td>
            <a href="tel:@item.MobilePhone">@item.MobilePhone</a><br/>
            <a href="tel:@item.AlternateMobilePhone">@item.AlternateMobilePhone</a>
        </td>
        <td>
            @item.BloodGroup.Name
        </td>
        <td>
            @item.Gender.Name
        </td>
        <td>
            @item.StreetAddress, @item.ColonyArea.Name 
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DonarId }) |
            @Html.ActionLink("Details", "Details", new { id=item.DonarId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DonarId })
        </td>
    </tr>
}

</table>
            </div>
        </div>
        <!-- end content-->
    </div>
    <!-- end card -->
</div>
@section scripts{
    <!-- DataTables.net Plugin -->
    <script src="/Content/assets/js/jquery.datatables.js"></script>
    <script>
        $(document).ready(function() {
            
            $('#datatables').DataTable({
                "pagingType": "full_numbers",
                "lengthMenu": [
                    [25, 50,100, -1],
                    [25, 50,100, "All"]
                ],
                responsive: true,
                language: {
                    search: "_INPUT_",
                    searchPlaceholder: "Search records",
                }

            });


            var table = $('#datatables').DataTable();

            // Edit record
            table.on('click',
                '.edit',
                function() {
                    $tr = $(this).closest('tr');

                    var data = table.row($tr).data();
                    alert('You press on Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.');
                });

            // Delete a record
            table.on('click',
                '.remove',
                function(e) {
                    $tr = $(this).closest('tr');
                    table.row($tr).remove().draw();
                    e.preventDefault();
                });

            //Like record
            table.on('click',
                '.like',
                function() {
                    alert('You clicked on Like button');
                });

            $('.card .material-datatables label').addClass('form-group');
        });
    </script>
}
