@model IEnumerable<LayerDb.AcceptorDetail>

@{
    ViewBag.Title = "Index";
}

<table class="table">
    <tr>
        <th>
            Accepted By
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BleedDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <a href="@Url.Action("Details","Donars", new {id = item.Donar.DonarId})">@item.Donar.FirstName @item.Donar.LastName</a>
        </td>
        <td>
            @item.BleedDate.ToString("dd/MM/yyyy")
        </td>
    </tr>
}

</table>
