<div class="sidebar" data-active-color="rose" data-background-color="black" data-image="/Content/assets/img/sidebar-1.jpg">
    <!--
        Tip 1: You can change the color of active element of the sidebar using: data-active-color="purple | blue | green | orange | red | rose"
        Tip 2: you can also add an image using data-image tag
        Tip 3: you can change the color of the sidebar with data-background-color="white | black"
    -->
    <div class="logo">
        <a href="/" class="simple-text">
            Blood Donation
        </a>
    </div>
    <div class="logo logo-mini">
        <a href="/" class="simple-text">
            DB
        </a>
    </div>
    <div class="sidebar-wrapper">
        @*<div class="user">
            <div class="photo  hide">
                <img src="/Content/assets/img/default-avatar.png" />
            </div>
            <div class="info">
                @*
                @if (User.Identity.IsAuthenticated)
                {    
                    <a data-toggle="collapse" href="#ProfileComponents" class="collapsed">
                        @(!string.IsNullOrWhiteSpace(User.Identity.GetApplicationUser().PersonName) 
                        ? User.Identity.GetApplicationUser().PersonName 
                        : User.Identity.Name)
                    </a>
                     
                }
                <div class="collapse hide" id="ProfileComponents">
                    <ul class="nav">
                        <li>
                            <a href="#">My Profile</a>
                        </li>
                    </ul>
                </div>*
            </div>
        </div>*@
        <ul class="nav">


            <li>
                <a data-toggle="collapse" href="#Donarcomponents">
                    <i class="material-icons">apps</i>
                    <p>
                        Donars
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="Donarcomponents">
                    <ul class="nav">
                        <li><a href="@Url.Action("Index","Donars")">View</a></li>
                        <li><a href="@Url.Action("Create","Donars")">Add Donar</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <a data-toggle="collapse" href="#Bookingcomponents">
                    <i class="material-icons">apps</i>
                    <p>
                        Locations
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="Bookingcomponents">
                    <ul class="nav">
                        <li><a href="@Url.Action("Index","ColonyAreas")">Colonies</a></li>
                        <li><a href="@Url.Action("Index","CityAreas")">Areas</a></li>
                        <li><a href="@Url.Action("Index","Cities")">Cities</a></li>
                        <li><a href="@Url.Action("Index","Countries")">Countries</a></li>
                    </ul>
                </div>
            </li>

            
            
        </ul>
    </div>
</div>
